body::after {
    content: "";
    /* background-image: url("../events_bg.jpg"); */
    background-size: 100%;
    /* background-position: right center, left top; */
    /* background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat; */
    filter: grayscale(100%);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/*heading*/

.heading {
    width: 20%;
    /* height: 100%; */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'fourHandTrial';
    position: fixed;
    bottom: 0;
    /* left: 40vw; */
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

.heading p {
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: normal;
    width: 100%;
    text-align: left;
    font-size: 2.2rem;
    color: rgb(77, 75, 75);
    /* background: linear-gradient(-45deg, #4bc0c8 25%, #feac5e 25%, #feac5e 50%, #4bc0c8 50%, #4bc0c8 75%, #feac5e 75%, #feac5e); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    background-size: 20px 20px;
    background-position: 0 0;
    /* -webkit-animation: stripes 1s linear infinite; */
    /* animation: stripes 1s linear infinite; */
}

.heading img {
    height: 28px;
    width: auto;
    left: 15px;
}

@keyframes stripes {
    100% {
        background-position: 20px 0, 20px 0, 20px 0;
    }
}

/*footer*/

/* 
FancyCSS
FancyCSS is a project by Moaaz Sidat to learn more some of the lesser known features, tricks and properties of CSS. 

Tutorial source: 
https://tympanus.net/codrops/2013/08/09/building-a-circular-navigation-with-css-transforms/
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative
}

.cn-wrapper {
    font-size: 1.3em;
    width: 33em;
    height: 33em;
    overflow: hidden;
    position: fixed;
    z-index: 11;
    bottom: -18em;
    left: 47%;
    border-radius: 60%;
    margin-left: -17em;
    transform: scale(0.3);
    transition: all 0.3s ease;
}

.opened-nav {
    border-radius: 50%;
    transform: scale(1);
    pointer-events: auto;
}

.cn-wrapper li {
    position: absolute;
    font-size: 1.5em;
    width: 10em;
    height: 10em;
    transform-origin: 100% 100%;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-top: -1.3em;
    margin-left: -10em;
    transition: border 0.3se ease;
}

.cn-wrapper li a {
    display: block;
    font-size: 6.18em;
    height: 24.5em;
    width: 24.5em;
    position: absolute;
    bottom: -7.25em;
    right: -7.25em;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    padding-top: 1.8em;
    transform: skew(-50deg) rotate(-70deg) scale(1);
    transition: opacity 0.3s, color 0.3s;
}

.cn-wrapper li a span {
    font-size: 1.1em;
    margin-left: 6.1em;
    color: white;
    opacity: 0.7
}

.cn-wrapper li:first-child {
    transform: rotate(13deg) skew(50deg);
    background-color: #F2E418;
}

.cn-wrapper li:nth-child(2) {
    transform: rotate(50deg) skew(50deg);
    background-color: #F2E418;
}

.cn-wrapper li:nth-child(3) {
    transform: rotate(90deg) skew(50deg);
}

.cn-wrapper li:nth-child(4) {
    transform: rotate(130deg) skew(50deg);
}

.cn-wrapper li:nth-child(5) {
    transform: rotate(50deg) skew(50deg);
}

.cn-wrapper li:nth-child(odd) a {
    background-color: #a11313;
    background-color: #6881FA;
}

.cn-wrapper li:nth-child(even) a {
    background-color: #a61414;
    background-color: #FB7F37;
}

.cn-wrapper li.active a {
    background-color: #b31515;
    background-color: #0000FF;
}

.cn-wrapper li a:hover {
    background-color: #b31515;
    background-color: #C4EEEC;
}

.cn-button {
    border: none;
    background: none;
    color: white;
    font-family: fourHandTrial;
    text-align: center;
    font-size: 2.4em;
    font-weight: 50px;
    padding-bottom: 1em;
    height: 5.7em;
    width: 13.2em;
    background-color: #575757;
    position: fixed;
    left: 35%;
    margin-left: -1.75em;
    bottom: -2.55em;
    border-radius: 51%;
    cursor: pointer;
    z-index: 13;
    &:hover,
    &:active,
    &:focus {
        background-color: #A8A8A8;
    }
}

.cn-overlay {
    width: 100%;
    height: 100%;
    background-color: #0000FF;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 2;
    pointer-events: none;
    &.on-overlay {
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
    }
}

/*svg*/

.svg {
    width: 10px;
    height: 10px;
}

/*cards*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* ul.cards {
    width: 880px;
    margin: 0 auto 20px;
    height: 300px;
    list-style-type: none;
    position: relative;
    padding: 20px 0;
    cursor: pointer;
} 

ul.cards li.title {
    margin: 0 0 20px;
}

ul.cards li.title h2 {
    font-weight: 300;
}

ul.cards li.card {
    background: #FFF;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    position: absolute;
    left: 0px;
    box-shadow: 7px 9px 12px 0 #aaa;
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

ul.cards li.card img {
    max-width: 100%;
    height: auto;
}*/

.card-footer {
    display: none;
    background: none;
}

.transition .card-footer {
    display: block;
}

/*ul.cards li.card div.content {
    padding: 5px 10px;
}

ul.cards li.card.card-1 {
    z-index: 10;
    -webkit-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
}

ul.cards li.card.card-2 {
    z-index: 9;
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg);
    transition-delay: 0.05s;
}

ul.cards li.card.card-3 {
    z-index: 8;
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    transition-delay: 0.1s;
} 

ul.cards.transition li.card {
    -webkit-transform: rotateZ(80deg);
    transform: rotateZ(80deg);
}

ul.cards.transition li.card.card-1 {
    left: 440px;
}

ul.cards.transition li.card.card-2 {
    left: 220px;
}*/

ul.card-stacks {
    /* width: 660px; */
    /* top: 60px; */
    bottom: 20vh;
    list-style-type: none;
    margin: 0 auto 20px;
    padding: 0;
    position: fixed;
    cursor: pointer;
    z-index: 10;
    /* height: 250px; */
}

/* ul.card-stacks li.title {
    margin: 0 0 20px;
}

ul.card-stacks li.title h2 {
    font-weight: 700;
} */

/* ul.card-stacks li.stack {
    position: absolute;
    left: 0px;
    transition: all 0.1s cubic-bezier(0.63, 0.15, 0.03, 1.02);
} 

 ul.card-stacks li.stack ul.cards-down {
    position: relative;
    margin: 0 0 20px;
    padding: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

/*cards color*/

ul.card-stacks li.card {
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.22);
    left: 0px;
    transition-delay: 0.4s;
    background: #F2F2F2;
    overflow: hidden;
    /* height: 270px; */
    /* width: 200px; */
    height: 80px;
    width: 80px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    box-shadow: 1px 2px 2px 0 #aaa;
}

ul.card-stacks li.card img {
    max-width: 100%;
    height: auto;
}

ul.card-stacks li.card div.content {
    padding: 5px 10px;
}

ul.card-stacks li.card:nth-of-type(1) {
    z-index: 10;
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
}

ul.card-stacks li.card:nth-of-type(2) {
    z-index: 9;
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg);
}

ul.card-stacks li.card:nth-of-type(3) {
    z-index: 8;
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

ul.card-stacks.transition {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    min-height: 80%;
    width: 80%;
    left: 7vw;
    top: 10vh;
}

/* ul.card-stacks.transition li.stack.stack-1 {
    left: 0px;
}

ul.card-stacks.transition li.stack.stack-2 {
    left: 220px;
}

ul.card-stacks.transition li.stack.stack-3 {
    left: 440px;
}

ul.card-stacks.transition li.stack.stack-4 {
    left: 660px;
} */

ul.card-stacks.transition li.card {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    position: initial;
    margin: 20px 20px;
}

/* ul.card-stacks.transition li.stack li.card.card-1 {
    top: 590px;
}

ul.card-stacks.transition li.stack li.card.card-2 {
    top: 300px;
}

ul.card-stacks.transition li.stack ul.cards-down li.card.card-3 {
    top: 10px;
} */

/* ul.cards-split {
    width: 660px;
    height: 280px;
    list-style-type: none;
    position: relative;
    margin: 0 auto 20px;
    padding: 20px;
    cursor: pointer;
}

ul.cards-split li.title {
    margin: 0 0 20px;
}

ul.cards-split li.title h2 {
    font-weight: 700;
}

ul.cards-split li.card {
    background: #FFF;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    left: 220px;
    box-shadow: 1px 2px 2px 0 #aaa;
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

ul.cards-split li.card img {
    max-width: 100%;
    height: auto;
}

ul.cards-split li.card div.content {
    padding: 5px 10px;
}

ul.cards-split li.card.card-1 {
    z-index: 10;
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
}

ul.cards-split li.card.card-2 {
    z-index: 9;
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg);
    transition-delay: 0.05s;
}

ul.cards-split li.card.card-3 {
    z-index: 8;
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    transition-delay: 0.1s;
}

ul.cards-split.transition li.card {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

ul.cards-split.transition li.card.card-1 {
    left: 0px;
}

ul.cards-split.transition li.card.card-2 {
    left: 440px;
}

ul.cards-split.transition li.card.card-3 {
    left: 220px;
}

ul.cards-split-delay {
    width: 660px;
    height: 280px;
    list-style-type: none;
    position: relative;
    margin: 0 auto 20px;
    padding: 20px;
    cursor: pointer;
}

ul.cards-split-delay li.title {
    margin: 0 0 20px;
}

ul.cards-split-delay li.title h2 {
    font-weight: 700;
}

ul.cards-split-delay li.card {
    background: #FFF;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    left: 220px;
    box-shadow: 1px 2px 2px 0 #aaa;
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}

ul.cards-split-delay li.card img {
    max-width: 100%;
    height: auto;
}

ul.cards-split-delay li.card div.content {
    padding: 5px 10px;
}

ul.cards-split-delay li.card.card-1 {
    z-index: 10;
    -webkit-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
}

ul.cards-split-delay li.card.card-2 {
    z-index: 9;
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg);
    transition-delay: 0.6s;
}

ul.cards-split-delay li.card.card-3 {
    z-index: 8;
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
    transition-delay: 0s;
}

ul.cards-split-delay.transition li.card {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

ul.cards-split-delay.transition li.card.card-1 {
    left: 0px;
}

ul.cards-split-delay.transition li.card.card-2 {
    left: 440px;
}

ul.cards-split-delay.transition li.card.card-3 {
    left: 220px;
    transition-delay: 0.6s;
} */

#modal {
    z-index: 30;
}

/* card nav positions */

.literary .card-stacks {
    left: 75vw;
}

.fun .card-stacks {
    left: 55vw;
}

.cultural .card-stacks {
    left: 35vw;
}

.technical .card-stacks {
    left: 15vw;
}

.technical .heading {
    left: 11vw;
}

.cultural .heading {
    left: 30vw;
}

.fun .heading {
    left: 53.5vw;
}

.literary .heading {
    left: 71vw;
}

ul.card-stacks.transition li.card {
    width: 200px;
    height: 250px;
}

.bottom-nav {
    height: 10vh;
    bottom: 0;
    position: fixed;
    background: red;
}

.moveheading {
    transform: translateY(-10vh);
    /* left: 20px; */
    font-size: 4rem;
}