 *{
      margin:0;
      padding:0;
  }
  .diagonal{
      width:100%;height:100vh;
      background-image: linear-gradient(to bottom right,#004e95 50%,#013a6b 50%);
      animation-timing-function: ease-in;
      -webkit-animation-name: example; 
      -webkit-animation-duration: 4s; 
      animation-name: example;
      animation-duration: 4s;
    }
    @keyframes example {
        0% {
            background-image: linear-gradient(to bottom right,#004e95 50%,#013a6b 50%);
        }
        10% {
            background-image: linear-gradient(to bottom right,#004e95 60%,#013a6b 50%);
        }
        20% {
            background-image: linear-gradient(to bottom right,#004e95 70%,#013a6b 50%);
        }
        40% {
            background-image: linear-gradient(to bottom right,#004e95 60%,#013a6b 50%);
        }
        50%{
            background-image: linear-gradient(to bottom right,#004e95 55%,#013a6b 50%);
        }
        60%{
            background-image: linear-gradient(to bottom right,#004e95 60%,#013a6b 50%);
        }
        80%{
            background-image: linear-gradient(to bottom right,#004e95 70%,#013a6b 50%);
        }
        90%{
            background-image: linear-gradient(to bottom right,#004e95 90%,#013a6b 50%);
        }
        100%{
            background-image: linear-gradient(to bottom right,#004e95 100%,#013a6b 50%);
        }
    }
    @-webkit-keyframes example {
        0% {
            background-image: linear-gradient(to bottom right,#004e95 50%,#013a6b 50%);
        }
        10% {
            background-image: linear-gradient(to bottom right,#004e95 60%,#013a6b 50%);
        }
        20% {
            background-image: linear-gradient(to bottom right,#004e95 70%,#013a6b 50%);
        }
        40% {
            background-image: linear-gradient(to bottom right,#004e95 60%,#013a6b 50%);
        }
        50%{
            background-image: linear-gradient(to bottom right,#004e95 55%,#013a6b 50%);
        }
        60%{
            background-image: linear-gradient(to bottom right,#004e95 60%,#013a6b 50%);
        }
        80%{
            background-image: linear-gradient(to bottom right,#004e95 70%,#013a6b 50%);
        }
        90%{
            background-image: linear-gradient(to bottom right,#004e95 90%,#013a6b 50%);
        }
        100%{
            background-image: linear-gradient(to bottom right,#004e95 100%,#013a6b 50%);
        }
    }