#buttons{

    color:#102442;
    background-color: #CBB3D6;
    font-weight: 80px;
    font-size:20px;




}

	

.timeline {
    white-space:4px;
    overflow-x: scroll;
    padding:2px 0 5px 0;
    position:relative;
    color:#000000;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#84ABE1;
    color:#000000;
    padding:3px 1px 3px 1px;
    font-size:5px;
    right:4px;
    text-align:center;
    position:relative;
    border-top:5px solid #000000;
    border-radius:6px;
    min-width:300px;
    max-width:600px;
}



.entry:after {
    content:'';
    display:flex;
    background:#000000;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #000000;
    position:absolute;
    left:70%;
    top:-20px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:flex;
    background:#000000;
    width:5px;
    height:20px;
    position:absolute;
    left:70%;
    top:-10px;
    margin-left:-10px;
}




.bar {
    height:4px;
    background:#000000;
    width:100%;
    position:relative;
    top:6px;
    left:0;
}













