
    @import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i";
* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  color: #acaabe;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #240425;
  font-size: 14px;
  overflow: hidden;
}

.wrap {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.page {
  margin: 1%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;
}


.svg {
  stroke: #7ceaa4;
  width:260px;
  height:260px;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: -6%;
  -webkit-animation: raise1 36s linear infinite;
          animation: raise1 36s linear infinite;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  -webkit-transform: scale(-0.3) rotate(53deg);
          transform: scale(-0.3) rotate(53deg);
  z-index: -6;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(239deg);
            transform: scale(-0.3) rotate(239deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(239deg);
            transform: scale(-0.3) rotate(239deg);
  }
}
.svg:nth-child(2) {
  left: 74%;
  -webkit-animation: raise2 36s linear infinite;
          animation: raise2 36s linear infinite;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  -webkit-transform: scale(0) rotate(94deg);
          transform: scale(0) rotate(94deg);
  z-index: -5;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(97deg);
            transform: scale(0) rotate(97deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(97deg);
            transform: scale(0) rotate(97deg);
  }
}
.svg:nth-child(3) {
  left: 61%;
  -webkit-animation: raise3 34s linear infinite;
          animation: raise3 34s linear infinite;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  -webkit-transform: scale(0.3) rotate(315deg);
          transform: scale(0.3) rotate(315deg);
  z-index: -4;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(325deg);
            transform: scale(0.3) rotate(325deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(325deg);
            transform: scale(0.3) rotate(325deg);
  }
}


/*pink ball*/

.svg:nth-child(4) {
  left: 12%;
  -webkit-animation: raise4 38s linear infinite;
          animation: raise4 38s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: scale(0.8) rotate(180deg);
          transform: scale(0.8) rotate(180deg);
  z-index: -3;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.8) rotate(110deg);
            transform: scale(0.8) rotate(110deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.8) rotate(110deg);
            transform: scale(0.8) rotate(110deg);
  }
}


/*mask*/


.svg:nth-child(5) {
  left: 43%;
  -webkit-animation: raise5 27s linear infinite;
          animation: raise5 27s linear infinite;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  -webkit-transform: scale(0.4) rotate(173deg);
          transform: scale(0.4) rotate(173deg);
  z-index: -2;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.4) rotate(-60deg);
            transform: scale(0.4) rotate(-60deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.4) rotate(-60deg);
            transform: scale(0.4) rotate(-60deg);
  }
}
.svg:nth-child(6) {
  left: 93%;
  -webkit-animation: raise6 40s linear infinite;
          animation: raise6 40s linear infinite;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  -webkit-transform: scale(0.2) rotate(23deg);
          transform: scale(0.2) rotate(23deg);
  z-index: -1;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.2) rotate(312deg);
            transform: scale(0.2) rotate(312deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.2) rotate(312deg);
            transform: scale(0.2) rotate(312deg);
  }
}
.svg:nth-child(7) {
  left: 15%;
  -webkit-animation: raise7 27s linear infinite;
          animation: raise7 27s linear infinite;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  -webkit-transform: scale(0.6) rotate(8deg);
          transform: scale(0.6) rotate(8deg);
  z-index: -2;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(106deg);
            transform: scale(0.6) rotate(106deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(106deg);
            transform: scale(0.6) rotate(106deg);
  }
}


/*guitar*/
.svg:nth-child(8) {
  left: 31%;
  -webkit-animation: raise8 40s linear infinite;
          animation: raise8 40s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.4) rotate(253deg);
          transform: scale(0.4) rotate(253deg);
  z-index: -2;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.4) rotate(279deg);
            transform: scale(0.4) rotate(279deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.4) rotate(279deg);
            transform: scale(0.4) rotate(279deg);
  }
}
.svg:nth-child(9) {
  left: 80%;
  -webkit-animation: raise9 38s linear infinite;
          animation: raise9 38s linear infinite;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  -webkit-transform: scale(0.3) rotate(120deg);
          transform: scale(0.3) rotate(120deg);
  z-index: -2;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}
@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(327deg);
            transform: scale(0.3) rotate(327deg);
  }
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(327deg);
            transform: scale(0.3) rotate(327deg);
  }
}
.svg:nth-child(10) {
  left: 23%;
  -webkit-animation: raise10 33s linear infinite;
          animation: raise10 33s linear infinite;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  -webkit-transform: scale(0.7) rotate(21deg);
          transform: scale(0.7) rotate(21deg);
  z-index: 3;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.7) rotate(169deg);
            transform: scale(0.7) rotate(169deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.7) rotate(169deg);
            transform: scale(0.7) rotate(169deg);
  }
}




 
